<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BitCoin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="auto"
          ><ion-card-title>BitCoin ahora</ion-card-title></ion-col
        >
        <ion-col> </ion-col>
      </ion-row>
      <ion-row size="auto">
        <ion-col
          ><ion-card-subtitle
            >Valor actual del BitCoin</ion-card-subtitle
          ></ion-col
        >
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="auto"
            ><span class="pricenow">$ {{bitcoinPriceNow}}</span></ion-col
          >
          <ion-col>
            <ion-row><span>USD</span></ion-row>
            <ion-row>
              <img
                src="../../assets/img/eeuu.png"
                height="30"
                width="30"
                alt=""
              />
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
