<ion-header [translucent]="true" class="">
  <ion-toolbar>
    <div class="ja-center">
      <h2>BitCoin {{offlineTitle}}</h2>
      <img
        src="../../assets/img/bitcoin (1).png"
        height="30"
        width="30"
        alt=""
      />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-grad">
  <p style="color: rgb(255, 56, 56); text-align: center">{{offlineMessage}}</p>
  <ion-card class="bg-dark">
    <ion-card-header>
      <ion-row>
        <ion-col size="auto"
          ><ion-card-title>BitCoin ahora</ion-card-title></ion-col
        >
        <ion-col
          [ngClass]="{'price-increasing': isPriceIncreasing(), 'price-decreasing': !isPriceIncreasing()}"
          class="scale-in-center"
          >{{ isPriceIncreasing() ? '🢁' : '🢃' }}</ion-col
        >
      </ion-row>
      <ion-row size="auto">
        <ion-col
          ><ion-card-subtitle
            >Valor actual del BitCoin</ion-card-subtitle
          ></ion-col
        >
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="auto"
            ><span class="pricenow">$ {{bitcoinPriceNow}}</span></ion-col
          >
          <ion-col>
            <ion-row><span>USD</span></ion-row>
            <ion-row>
              <img
                src="../../assets/img/eeuu.png"
                height="30"
                width="30"
                alt=""
              />
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div class="" style="color: #dbdbdb;">
    <div class="ja-center">
      <h2>Datos historicos</h2>
      <img
        src="../../assets/img/calendar.png"
        height="25"
        width="25"
        alt=""
        style="margin-top: 0.7em; margin-left: 5px"
      />
    </div>
  </div>
  <ion-card style="color: #dbdbdb;">
    <ion-accordion-group *ngFor="let data of bitcoinDataForTwoWeeks">
      <ion-accordion value="first">
        <ion-item slot="header" class="bg-dark">
          <ion-label>{{data.time}}</ion-label>
        </ion-item>
        <div class="ion-padding bg-grad mb-3 shadows border-b" slot="content">
          <ion-grid [fixed]="true">
            <ion-row>
              <ion-col size="auto"
                ><span class="closeprice">$ {{data.close}}</span></ion-col
              >
              <ion-col>
                <ion-row><span style="font-size: 12px">USD</span></ion-row>
                <ion-row>
                  <img
                    src="../../assets/img/eeuu.png"
                    height="20"
                    width="20"
                    alt=""
                  />
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto"
                ><span style="font-size: 20px"
                  >$ {{data.closeCOP}}</span
                ></ion-col
              >
              <ion-col>
                <ion-row><span style="font-size: 12px">COP</span></ion-row>
                <ion-row>
                  <img
                    src="../../assets/img/colombia.png"
                    height="15"
                    width="15"
                    alt=""
                  />
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto"
                ><span style="font-size: 20px"
                  >€ {{data.closeEUR}}</span
                ></ion-col
              >
              <ion-col>
                <ion-row><span style="font-size: 12px">EUR</span></ion-row>
                <ion-row>
                  <img
                    src="../../assets/img/union-europea.png"
                    height="15"
                    width="15"
                    alt=""
                  />
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
